@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

//***********************************************header
.project-container {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;

  .container {
    height: 100%;
    padding: 0px 10%;
  }

  .header {
    display: flex;
    flex-direction: column;
    background: #ffcc00;
    height: 750px;

    &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__inner-top {
      display: flex;
      justify-content: space-between;

    }

    &__page-change-wrapper {
      display: flex;
      justify-content: center;
    }

  }

  .logo {
    display: flex;
    align-items: center;

    &__img {
      width: 40px;
      height: 40px;
    }

    &__text {
      font-size: 30px;
      font-weight: 800;
      margin-left: 15px;
    }
  }

  .menu {

    display: inline-block;
    @media (max-width: 767px) {
      display: none;
    }
    &__items {
      display: flex;
    }

    &__item {
      padding-left: 75px;
      list-style: none;
    }

    &__link {
      color: #000000;
      text-decoration: none;
      font-size: 22px;
      font-weight: 800;
    }


  }

  .banner-content {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 400px;
    }

    &__title {
      font-size: 32px;
      font-weight: 800;
    }

    &__text {
      font-size: 20px;
    }

    &__button {
      font-size: 16px;
      font-weight: 800;
      color: #333333;
      width: 185px;
      height: 50px;
      background: none;
      border: 2px solid #000;
      border-radius: 5px;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        background: black;
        color: white;
      }
    }

    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      &__wrapper {
        align-items: center;
      }
      &__button {
      }
    }
  }

  .pages-change {
    &__button {
      background: #fff;
      border: 1px solid #000;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }

    &__button-active {
    }
  }

  //**********************************************/header
  //********************************************** features
  .features {
    min-height: 776px;

    &__inner-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      //margin: 100px 0px;
    }

    &__title {
      font-size: 32px;
      font-weight: 800;
    }

    &__text {
      font-size: 20px;
      font-weight: 400;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-around;
      margin-top: 100px;
      align-items: center;
      @media (max-width: 767px) {
        justify-content: center;
        margin-top: 30px;

      }
    }
  }


  .features-item {
    display: flex;

    &__img {
      width: 40px;
      height: 40px;
    }

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      max-width: 200px;
      padding-left: 35px;

    }

    &__title {
      padding: 0px;
      margin: 0px;
    }

    &__text {
    }
  }

  //********************************************** /features
  //************************************************ form
  .form {
    min-height: 767px;
    background: #000000;

    &__inner-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 100px 0px;
    }

    &__title {
      font-size: 32px;
      font-weight: bold;
      color: yellow;
    }

    &__text {
      font-size: 20px;
      color: #999999;
    }
  }

  .email-form {
    display: flex;

    &__input {
      border: none;
      border-radius: 5px;
      height: 50px;
      width: 580px;
      @media (max-width: 767px) {
        width: 320px;
      }
    }

    &__button {
      margin-left: 15px;
      font-size: 16px;
      font-weight: 800;
      border: none;
      border-radius: 5px;
      background: yellow;
      color: black;
      width: 130px;
      height: 50px;
      transition: .3s;
      opacity: 0.8;
      @media (max-width: 767px) {
        width: 100px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .social-src {
    &__item {
      margin: 70px 0px 50px 40px;
    }
  }

  .footer {
    display: flex;
    color: #999999;

    &__address {
    }

    &__address-text {
    }
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-menu-list {
    &__item {
      list-style: none;
    }
  }

  //************************************************ /form
}

